@tailwind base;
@tailwind components;
@tailwind utilities;

/* Adicione aqui suas customizações de estilo global */

/* Definindo as Fontes Usando Google Fonts */

/* Fontes para Títulos */
@font-face {
  font-family: "Roboto Slab", serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");
  font-weight: 400, 700;
  font-style: normal;
}

/* Fontes para Texto Principal */
@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
  font-weight: 400, 500, 700;
  font-style: normal;
}

/* Fontes Alternativas */
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
  font-weight: 400, 500, 600;
  font-style: normal;
}

/* Variáveis de Cor */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Estilos Globais */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto", sans-serif; /* Fonte para o texto principal */
  margin: 0;
  padding: 0;
}

/* Estilos para Cabeçalhos */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif; /* Fonte para títulos */
  margin: 0;
}

button,
.btn {
  font-family: "Poppins", sans-serif; /* Fonte para botões e elementos interativos */
}

/* Estilos para Parágrafos */
p {
  font-family: "Roboto", sans-serif; /* Fonte para parágrafos */
  margin-bottom: 1rem;
}

/* Estilos para Links */
a {
  color: #1d4ed8; /* Azul */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Estilo para Botões */
button {
  background-color: #3b82f6;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2563eb;
}

/* Classes Utilitárias Personalizadas */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.text-center {
  text-align: center;
}

.flex-grow {
  flex-basis: 150px; /* Ajuste o valor conforme necessário */
  max-height: 150px;
  min-height: 150px;
  overflow: hidden;
}

.text-gray-900 {
  font-size: 1.2rem; /* Utilize unidades relativas como em ou rem */
}

.text-gray-800 {
  font-size: 1rem;
}

/* Responsividade */
@media (max-width: 768px) {
  .container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 0.875rem;
  }

  button {
    padding: 0.5rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 0.875rem;
  }

  h6 {
    font-size: 0.75rem;
  }

  button {
    padding: 0.25rem;
  }
}
